@section Scripts {
    @Scripts.Render("~/bundles/application")
}

<section class="streetlights">
    <header>
        <h2>Streetlights</h2>
    </header>
    <nav class="shadowContent">
        <ul data-bind="foreach: streetlights">
            <li><a data-bind="text: description, click: $parent.selectStreetlight.bind($data, $parent)"></a></li>
        </ul>
    </nav>
</section>
<section class="streetlight-details">
    <header>
        <h2 style="display:inline-block">Streetlight Details</h2>
    </header>
    <article class="shadowContent" data-bind="with: selectedStreetlight">
        <div data-bind="with: $root">
            <button class="pull-right" data-bind="click: toggleLightState.bind($data, selectedStreetlight()), text: selectedStreetlight().isSwitchedOn() ? 'Switch Off' : 'Switch On'"></button>
            <h2>Streetlight Information</h2>
            <p>Power Draw: <span data-bind="text: getLightPower(selectedStreetlight())"></span>W</p>
        </div>

        <div>
            <h3>Bulb Information</h3>
            <ul class="list-group" data-bind="foreach: bulbs">
                <li class="list-group-item">
                    <div class="bulb-display" data-bind="css: {'bulb-on'   : bulbStatus().isOn && !bulbStatus().fault,
                                                               'bulb-off'  : !bulbStatus().isOn && !bulbStatus().fault,
                                                               'bulb-fail' : bulbStatus().fault
                                                              }"></div>
                    <span data-bind="text: bulbStatus().isOn ? 'On' : 'Off'"></span>
                    <span data-bind="bulbInformation.bulbType"></span>
                    <span data-bind="visible: $root.isFailed($data)">Failed</span>
                    Temperature: <span data-bind="css: {'bulb-temperature-zero'       : bulbStatus().bulbTemperature == 0,
                                                        'bulb-temperature-less-half'  : bulbStatus().bulbTemperature &lt; bulbInformation.maxTemperature/2,
                                                        'bulb-temperature-half'       : bulbStatus().bulbTemperature &gt;= bulbInformation.maxTemperature/2 && bulbStatus().bulbTemperature &lt;= bulbInformation.maxTemperature,
                                                        'bulb-temperature-high'       : bulbStatus().bulbTemperature &gt; bulbInformation.maxTemperature,
                                                       }"><span data-bind="text: bulbStatus().bulbTemperature"></span>/<span data-bind="text:bulbInformation.maxTemperature"></span>C</span>
                    Hours: <span data-bind="text: bulbStatus().bulbHours"></span>/<span data-bind="text:bulbInformation.maxHours"></span>hrs
                    <button class="pull-right" data-bind="click: $root.toggleBulbState($root, $parent, $data),
                                                          enable: $parent.isSwitchedOn()">Toggle Bulb State</button>
                </li>
            </ul>
        </div>
    </article>
</section>

<!-- Loading message -->
<section class="info-loading" data-bind="css: {'hidden' : !isLongProcess()}">
    <div class="info-text">Please wait, information is loading</div>
    <div class="info-progress"></div>
</section>

<!-- Error message -->
<section class="error-message" data-bind="css: {'hidden' : !lastErrorMessage()}">
    Mistake: <span data-bind="text: lastErrorMessage()"></span>
</section>